ServiceTest/Connected Services/FilmData/TestFilmData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestFilmData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2356/TestFilmData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2356/TestFilmData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2356/TestFilmData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestFilmData_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilms" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_AddFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFilm" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_AddFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_DeleteFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFilm" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_DeleteFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetFilmById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmById" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetFilmById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_UpdateFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilm" />
  </wsdl:message>
  <wsdl:message name="ITestFilmData_UpdateFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilmResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestFilmData">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/CheckConnection" message="tns:ITestFilmData_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/CheckConnectionResponse" message="tns:ITestFilmData_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/GetFilms" message="tns:ITestFilmData_GetFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/GetFilmsResponse" message="tns:ITestFilmData_GetFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/AddFilm" message="tns:ITestFilmData_AddFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/AddFilmResponse" message="tns:ITestFilmData_AddFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/DeleteFilm" message="tns:ITestFilmData_DeleteFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/DeleteFilmResponse" message="tns:ITestFilmData_DeleteFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/GetFilmById" message="tns:ITestFilmData_GetFilmById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/GetFilmByIdResponse" message="tns:ITestFilmData_GetFilmById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/GetGenres" message="tns:ITestFilmData_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/GetGenresResponse" message="tns:ITestFilmData_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestFilmData/UpdateFilm" message="tns:ITestFilmData_UpdateFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestFilmData/UpdateFilmResponse" message="tns:ITestFilmData_UpdateFilm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestFilmData" type="tns:ITestFilmData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilms">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/GetFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFilm">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/AddFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFilm">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/DeleteFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/GetFilmById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFilm">
      <soap:operation soapAction="http://tempuri.org/ITestFilmData/UpdateFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestFilmData">
    <wsdl:port name="BasicHttpBinding_ITestFilmData" binding="tns:BasicHttpBinding_ITestFilmData">
      <soap:address location="http://localhost:2356/TestFilmData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>