FilmFactory/Connected Services/DataService/Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Films.DOL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Films.DOL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOffilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="film" nillable="true" type="tns:film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffilm" nillable="true" type="tns:ArrayOffilm" />
  <xs:complexType name="film">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectorId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="film_genre" nillable="true" type="tns:ArrayOffilm_genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="film" nillable="true" type="tns:film" />
  <xs:complexType name="ArrayOffilm_genre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="film_genre" nillable="true" type="tns:film_genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffilm_genre" nillable="true" type="tns:ArrayOffilm_genre" />
  <xs:complexType name="film_genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilmId" type="xs:int" />
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="film" nillable="true" type="tns:film" />
      <xs:element minOccurs="0" name="genre" nillable="true" type="tns:genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="film_genre" nillable="true" type="tns:film_genre" />
  <xs:complexType name="genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="film_genre" nillable="true" type="tns:ArrayOffilm_genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="genre" nillable="true" type="tns:genre" />
</xs:schema>