FilmFactory/Connected Services/DataService/Data2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2870/Data.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Films.DOL.Model" />
  <xs:element name="ConnectionTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Films.DOL.Model" minOccurs="0" name="GetFilmsResult" nillable="true" type="q1:ArrayOffilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Films.DOL.Model" minOccurs="0" name="film" nillable="true" type="q2:film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>