FilmFactory/Connected Services/FilmsData/TestFilmData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2356/TestFilmData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService.DataContract" />
  <xs:element name="CheckConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetFilmsResult" nillable="true" type="q1:ArrayOfFilmContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="film" nillable="true" type="q2:FilmContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="film" nillable="true" type="q3:FilmContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFilmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetFilmByIdResult" nillable="true" type="q4:FilmContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetGenresResult" nillable="true" type="q5:ArrayOfGenreContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="genre" nillable="true" type="q6:GenreContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="genre" nillable="true" type="q7:GenreContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetGenreByIdResult" nillable="true" type="q8:GenreContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetDirectorResult" nillable="true" type="q9:ArrayOfDirectorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="director" nillable="true" type="q10:DirectorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="director" nillable="true" type="q11:DirectorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDirectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TestService.DataContract" minOccurs="0" name="GetDirectorByIdResult" nillable="true" type="q12:DirectorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>